In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/anonymous-input-data/anon_input.csv

In [2]:
df = pd.read_csv('/kaggle/input/anonymous-input-data/anon_input.csv', sep=';')

In [3]:
df

     Name     Order
0  Thomas     chien
1    Paul      chat
2   Marie    souris
3  Pierre    souris
4  Sophie  aligator
5  Pierre      chat
6  Thomas      chat
7   Marie     singe
8   Marie     chien

### Extract sorted unique names and orders

In [4]:
names = list(df['Name'].unique())
orders = list(df['Order'].unique())
names.sort()
orders.sort()
print(names)
print(orders)

['Marie', 'Paul', 'Pierre', 'Sophie', 'Thomas']
['aligator', 'chat', 'chien', 'singe', 'souris']

In [5]:
orders.index('singe')

3

### Replace names and orders by anonymised values

In [6]:
df['Name'] = df['Name'].apply(lambda x: names.index(x))
df['Order'] = df['Order'].apply(lambda x: orders.index(x))

In [7]:
df

   Name  Order
0     4      2
1     1      1
2     0      4
3     2      4
4     3      0
5     2      1
6     4      1
7     0      3
8     0      2

### Write everything as a function

In [8]:
def anonymise(df):
    #create sorted list of unique Name and Order values
    names = list(df['Name'].unique())
    order = list(df['Order'].unique())
    names.sort()
    order.sort()
    
    #replace original values by anonymised ones
    df['Name']  = df['Name'].apply(lambda x: names.index(x))
    df['Order'] = df['Order'].apply(lambda x: orders.index(x)) 
    
    return df

### _(tests section)_

In [9]:
df = pd.read_csv('/kaggle/input/anonymous-input-data/anon_input.csv', sep=';')

In [10]:
ano_df = anonymise(df)
ano_df

   Name  Order
0     4      2
1     1      1
2     0      4
3     2      4
4     3      0
5     2      1
6     4      1
7     0      3
8     0      2